<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Manh's blog</h1>
  <h3> My first Rails Application for Coder School!</h3>

  <nav class="navbar navbar-light bg-faded">
    <form class="form-inline pull-xs-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>

  <%= render @articles %>
  <br>

  <%= link_to 'New Article', new_article_path, class: 'btn btn-primary btn-lg' %>
</div>

